#home{
	background: #18181B;
	color: white;
	
}
#sec-1{
	background: #18181B;
	color: white;
}
#sec-3{
	background: #18181B;
	color: white;
}



.caixa{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}
footer{
	background: #18181B;
	color: white;
}

footer p a {
	margin: 5px 15px;
	color: white;
	
}

