@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html{
    background-color: #aad1f5;
}
body {
    background-color: #aad1f5;
    display: flex;
    height: 100vh;
    
}

section {
    margin-left: 256px;
    padding: 40px;
    width: calc(100% - 256px);
    display: flex;
    flex-direction: column;
    background-color: #aad1f5;

}



a {
    text-decoration: none;
    color: #369FFF;
}

i {
    font-size: 24px;
}




/* MENU CSS */


.sidebar {
    width: 256px;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 24px;
    background-color: #fff;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}


.sidebar .head {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.user-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    width: 100%;
    object-fit: cover;
}

.user-details .title,
.menu .title {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.user-details .name {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.menu ul {
    padding-left: 0;
}

.menu ul li {
    list-style: none;
    margin-bottom: 5px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.menu ul li > a:hover,
.menu ul li.active > a {
    color: #000;
    background-color: #369FFF;
}

.menu ul li .icon {
    font-size: 20px;
}

.menu ul li .text {
    flex: 1;
}

.menu ul li .arrow {
    font-size: 20px;
    transition: all 0.3s ease;
}

.menu ul li.active .arrow {
    transform: rotate(180deg);
}

.menu .sub-menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
    padding: 10px 8px;
    font-size: 16px;
}

/* FIM MENU CSS */
section .container .row{
    align-items: center;
}

section header {
    display: flex;
    align-items: center;
    gap: 15px;
}

section header h5 {
    font-size: 18px;
    color: #000;
    font-weight: 400;
}

section .separator h4 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    padding-top: 50px;
}
section .separator button {
   
    width: 44px;
    height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 8px;

}

section .botao{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    padding-top: 50px;
    margin-bottom: 10px;
    /* margin-left: auto; */
}

section .analytics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}
section .analytics button{
    margin-bottom: 100px;
}

section .analytics .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
    min-width: 214px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

section .analytics .item:hover {
    border: 1px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

section .analytics .item .progressor .info h5 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

section .analytics .item .progressor .info p {
    color: #000;
    font-size: 20px;
}


section .analytics .item .progressor .info span {
    color: #fff;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(67, 235, 67);
    border-radius: 20%;
}


section .analytics .item i {
    font-size: 80px;
    color: #fff;
}

section .analytics .item:nth-child(1),
section .analytics .item:nth-child(2),
section .analytics .item:nth-child(3){
    background: #fff;
 }
 
 section table{
    border-radius: 20%;
 }

section .container{
    width: 100%;
    margin-top: 30px;
    background: #fff;
    color: #000;
    border:none;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0,  0.15);
    transition: all 0.3s ease;
    
   
}



 section .container .row .formulario {
    padding-right: 10px;
    padding-top: 10px;
}
section .container .row input[type="date"]{
background-color: #0080ff;
padding: 15px;
position: absolute;
font-family: "Manrope", sans-serif;
color: #fff;
font-size: 18px;
border: none;
outline: none;
border-radius: 10px;
}

::-webkit-calendar-picker-indicator{
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}