@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root{
    --primary-clr: #b38add;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    /* background-color: #aad1f5; */
    
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e1dc;
}


section {
    margin-left: 256px;
    padding: 40px;
    width: calc(100% - 256px);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 40px 0 40px;
    /* background-color: #aad1f5; */
   
}



a {
    text-decoration: none;
    color: #369FFF;
}

i {
    font-size: 24px;
}

/* MENU CSS */
.sidebar {
    position: relative;
    width: 256px;
    height: 100vh;
    display: flex;
    /* display: none; */
    gap: 20px;
    flex-direction: column;
    padding: 24px;
    background-color: #fff;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar .head {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.user-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    width: 100%;
    object-fit: cover;
}

.user-details .title,
.menu .title {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.user-details .name {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.menu ul {
    padding-left: 0;
}

.menu ul li {
    list-style: none;
    margin-bottom: 5px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.menu ul li > a:hover,
.menu ul li.active > a {
    color: #000;
    background-color: #369FFF;
}

.menu ul li .icon {
    font-size: 20px;
}

.menu ul li .text {
    flex: 1;
}

.menu ul li .arrow {
    font-size: 20px;
    transition: all 0.3s ease;
}

.menu ul li.active .arrow {
    transform: rotate(180deg);
}

.menu .sub-menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
    padding: 10px 8px;
    font-size: 16px;
}

/* fim menu */







/* COMEÇO CALENDARIO */
.container{
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #373c4f;
}
.left{
    width: 90%;
    padding: 20px;
}

.calendar{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;

}

.calendar::before,
.calendar::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d5d6d7;
    transform: translateY(-50%);

}

.calendar::before{
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);

}

.calendar .month{
    width: 100%;
    height: 150px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 50px;
   font-size: 1.2rem;
   font-weight: 500;
   text-transform: capitalize;
   
}

.calendar .month .prev,
.calendar .month .next{
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover{
    color: var(--primary-clr);
}

.calendar .weekdays{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar .weekdays div{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;

}

.calendar .days .day{
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #f5f5f5;
}

.calendar .day:not(.prev-date , .next-date):hover{
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .next-date{
    color: #b3b3b3;
}

.calendar .days .active{
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .days .active::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);

}

.calendar .days .today{
    font-size: 2rem;
}

.calendar .days .event{
    position: relative;

}

.calendar .days .event::after{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translate(-50%);
    background-color: var(--primary-clr);
    
}


.calendar .event:hover::after{
    background-color: #fff;
}

.calendar .active.event::after{
    background-color: #fff;
    bottom: 20%;
}

.calendar .active.event{
    padding-bottom: 10px;
}

.calendar .goto-today{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
}


.calendar .goto-today .goto{
display: flex;
align-items: center;
border-radius: 5px;
overflow: hidden;
border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
   
}

.calendar .goto-today button{
padding: 5px 10px;
border: 1px solid var(--primary-clr);
border-radius: 5px;
background-color: transparent ;
cursor: pointer;
color: var(--primary-clr);

}

.calendar .goto-today button:hover{
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .goto-today goto button{
    border: none;
    border-left: 1px solid var(--primary-clr);
    border: 0;
}


.container .right{
    position: relative;
    width: 40%;
}


/* FIM CALENDARIO */
