@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
html{
    background-color: #aad1f5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    /* background-color: #f7f7f7; */
    display: flex;
    height: 100vh;
    
}



section {
    margin-left: 256px;
    padding: 40px;
    width: calc(100% - 256px);
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 40px 0 40px;
	background-color: #aad1f5;
    
}

a {
    text-decoration: none;
    color: #369FFF;
}

i {
    font-size: 24px;
}

/* MENU CSS */
.sidebar {
    width: 256px;
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 24px;
    background-color: #fff;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.sidebar .head {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.user-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.user-img img {
    width: 100%;
    object-fit: cover;
}

.user-details .title,
.menu .title {
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.user-details .name {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.menu ul {
    padding-left: 0;
}

.menu ul li {
    list-style: none;
    margin-bottom: 5px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.menu ul li > a:hover,
.menu ul li.active > a {
    color: #000;
    background-color: #369FFF;
}

.menu ul li .icon {
    font-size: 20px;
}

.menu ul li .text {
    flex: 1;
}

.menu ul li .arrow {
    font-size: 20px;
    transition: all 0.3s ease;
}

.menu ul li.active .arrow {
    transform: rotate(180deg);
}

.menu .sub-menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
    padding: 10px 8px;
    font-size: 16px;
}



/* FIM MENU CSS */
